@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap');

.mainmenu {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54px;
    height: 234px;
    background: rgba(229, 230, 233, 0.8);
    border-radius: 27px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 4px rgba(2, 2, 43, 0.2);
    z-index: 1;
    padding-top: 6px;
}

.mainmenu button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    margin-bottom: 4px;
    background: white;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mainmenu button.active,
.mainmenu button:hover {
    background: black; 
}

.mainmenu button.active img,
.mainmenu button:hover img
{
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(317deg) brightness(109%) contrast(99%);
}

.mainmenu button img {
    width: 32px;
    height: 32px;
}

.mainmenu button .state-icon {
    position: absolute; /* Positionieren Sie das state-icon absolut */
    top: 9px;
    left: 11px;
    width: 32px; /* Breite des Icons */
    height: 32px; /* Höhe des Icons */
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none; /* Dadurch wird das state-icon durch Klicks nicht beeinflusst */
    filter: invert(61%) sepia(85%) saturate(1169%) hue-rotate(92deg) brightness(92%) contrast(86%);
}

.mainmenu button.active .state-icon,
.mainmenu button:hover .state-icon
{
    filter: invert(61%) sepia(85%) saturate(1169%) hue-rotate(92deg) brightness(92%) contrast(86%);
}



