@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap');

.mainmenu {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54px;
    height: 234px;
    background: rgba(229, 230, 233, 0.8);
    border-radius: 27px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 4px rgba(2, 2, 43, 0.2);
    z-index: 1;
    padding-top: 6px;
}

.mainmenu button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    margin-bottom: 4px;
    background: white;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mainmenu button.active,
.mainmenu button:hover {
    background: black; 
}

.mainmenu button.active img,
.mainmenu button:hover img
{
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(317deg) brightness(109%) contrast(99%);
}

.mainmenu button img {
    width: 32px;
    height: 32px;
}

.mainmenu button .state-icon {
    position: absolute;
    top: 9px;
    left: 11px;
    width: 32px; 
    height: 32px; 
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none; 
    filter: invert(61%) sepia(85%) saturate(1169%) hue-rotate(92deg) brightness(92%) contrast(86%);
}

.mainmenu button.active .state-icon,
.mainmenu button:hover .state-icon
{
    filter: invert(61%) sepia(85%) saturate(1169%) hue-rotate(92deg) brightness(92%) contrast(86%);
}

/*Submenu*/
.submenu {
    /*display: none;*/
    position: absolute;
    top: 16px;
    right: calc(70px + 10px);
    width: 333px;
    background-color: rgba(229, 230, 233);
    border-radius: 27px;
    box-shadow: 0 0 4px rgba(2, 2, 43, 0.2);
    padding: 22px;
    overflow-y: auto;
    z-index: 1;
  }
  
  .submenu-title {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #000;
    margin-bottom: 16px;
    margin-top: 0px;
  }
  
  .submenu-button {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #000;
    border: none;
    background: none;
  }
  
  .submenu-button img {
    width: 32px;
    height: 32px;
    margin-right: 6px;
  }
    
  .submenu-content img {
    max-width: 100%;
    height: auto;
  }

